/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

button {
    padding: 10px;
}


/* UTILITIES */
.container {
    padding: 10px;
    max-width: 1000px;
}

.inline-fl-w {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.flex-nw {
    display: flex;
}

.text-small {
    font-size: 70%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.central {
    margin: auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.in-block {
    display: inline-block;
}

.black {
    background: #000;
}

.green {
    background: darkgreen;
}

.darkgreen-color{
    color: darkgreen;
}

.darkred-color {
    color: darkred;
}

.white-color {
    color: #fff
}

.hidden {
    display: none;
}

/* HEADER */
.header .container {
    justify-content: space-between;
    align-items: center;
}

    .header .container > * {
        flex-basis: calc(100% / 3)
    }

        .play-button {
            font-size: 150%;
        }

        .right-header {
            justify-content: flex-end;
            align-items: center;
        }

            #volume-button,
            #volume-button:focus {
                width: 50px;
                padding: 0;
                background: inherit;
                color: inherit;
                border: 0;
                outline: 0;
            }

                #volume-button > * {
                    display: block;
                }

                #icon-volume {
                    padding: 5px;
                    font-size: 200%;
                }

                #icon-switch {
                    font-size: 200%;
                }

            .input-box {
                margin-right: 15px;
            }
    
/* MAIN */
main {
    padding-top: 25px;
    flex-grow: 1;
}

/* Main: INFO-SECTION */
.info-section {
    flex-basis: 35%;
}

    .output {
        justify-content: flex-start;
    }
        .output .wrapper {
            margin: 20px 20px 40px 0;
        }

            .wr-label {
                margin-bottom: 10px;
                font-size: 120%;
            }

            .box {
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border: 1px solid #fff;
                font-size: 200%;
                font-weight: 800;
            }

    .text-box {
        font-size: 120%;
    }

/* Main: BOARD-SECTION */
.board-section {
    flex-basis: 65%;
}

    .board_size1 {
        width: 402px;
    }

    .board_size2 {
        width: 602px;
    }

    .board_size3 {
        width: 524px;
    }

        .scene {
            perspective: 600px;
        }  

        .scene_size1 {
            width: 100px;
            height: 100px;
            font-size: 200%;
        }

        .scene_size2 {
            width: 75px;
            height: 75px;
            font-size: 150%;
        }

        .scene_size3 {
            width: 65px;
            height: 65px;
            font-size: 120%;
        }

        .scene_size4 {
            width: 50px;
            height: 50px;
        }

            .card {
                width: 100%;
                height: 100%;
                transition: transform 1s;
                transform-style: preserve-3d;
                cursor: pointer;
                position: relative;
                border: 1px solid lightgray;
            }

                .card-face{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }

                .card-up {
                    background: green;
                    transform: rotateY(180deg);
                }

                .card-down {
                    font-size: 120%;
                    background: darkred;
                }

                .card.flipped {
                    transform: rotateY(180deg);
                }

                .card.blocked {
                    background: #000;
                }


        .layer::after {
            position: absolute;
            content: '';
            left: 0%;
            top: 0%;
            width: 100%;
            height: 100%;
            z-index: 1;
        }


/* FOOTER  */
footer {
    font-style: italic;
    font-size: 50%;
}